#main-container {
    display: flex;
    justify-content: space-between;
}

#left-column, #right-column {
    width: 48%; /* You can adjust this as needed */
    border: 1px solid #000;
    min-height: 600px; /* You can adjust this as needed */
    padding: 10px;
}

.draggable {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #000;
    cursor: move;
}

.placeholder {
    margin-bottom: 10px;
    height: 50px; /* adjust this as needed */
    border: 1px dashed #000;
}

